body {
  margin: 0 auto;
  padding: 2rem;
}

input, textarea, button {
  margin: 2px;
  border: 1px solid #333;
  border-radius: 5px;
}

.footer {
  text-align: center;
}

/* .rend {
  color: blue;
} */